.experience__section__title{
    display: flex;
    justify-content: center;
}

.experiencie__box1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experiencie__box2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 2rem ;
}

.experience__box3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem ;
}

.experience__box4{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 2rem ;
}

.experience__info-container{
    padding-left: 1.5rem;
}

.experience__title{
    align-self: stretch;
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.experience__text{
    align-self: stretch;
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.experience__description{
    display: flex;
    width: 560px;
    align-items: flex-start;
    gap: 16px;
}

.experiencia__botao--repo{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--azul-100, #2A7AE4);
}

.experience__botao--demo{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;;
    border: none;
    background: var(--azul-100, #2A7AE4);
}















